{% extends "base.html" %}

{% block content %}
<h2>Create Category</h2>

<div class="form-group">
  <label for="id_name">Name:</label>
  <input type="text" name="name" class="form-control" id="id_name" required>
</div>




<form method="post" id="category-form" action="{% url 'category_create' %}" class="flex gap-x-2 py-3">
  <input type="hidden" name="username" value="{{ request.user.username }}">

    {% csrf_token %}

    <button type="button" class="btn flex justify-center items-center w-24 h-10 bg-black disabled:text-neutral-600  rounded-lg disabled:bg-slate-400 disabled:opacity-75" id="add-category" disabled>Add</button>
    
    <button type="submit" class="btn flex justify-center items-center w-24 h-10 bg-black  rounded-lg" id="save-category">Save</button>
</form>

<hr>

<h2>Category Tree</h2>
<div id="category-tree"></div>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.11/themes/default/style.min.css" />

<!-- jsTree 스크립트를 로드합니다. -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.11/jstree.min.js"></script>


<script>
  $(function() {
    var selectedNode = null;
    $('#add-category').prop('disabled', false);
  
    $('#category-tree').jstree({
      'core': {
        'data': {{ tree | safe }},
        'check_callback': true,
        'themes': {
          'responsive': false
      }
      },
      "plugins": ["wholerow"]
    }).on('loaded.jstree', function() {
      $('#add-category').prop('disabled', !$('#id_name').val().trim());
    }).on('redraw.jstree', function(e, data) {
      // 노드가 화면에 그려질 때마다 호출됩니다.
      $('.jstree-node').each(function() {
          var nodeId = this.id;
          var deleteButton = $('<button/>', {
              text: 'Delete',
              class: 'delete-node-btn z-10 relative top-0 -right-4 p-1 bg-red-500 text-white rounded-full text-xs font-bold hover:bg-red-600 transition duration-300 ease-in-out',
              click: function(e) {
                  e.stopPropagation(); // 이벤트 버블링 방지
                  $('#category-tree').jstree('delete_node', nodeId);
              }
          });
          if ($(this).find('.delete-node-btn').length === 0) { // 중복 추가 방지
              $(this).append(deleteButton);
          }
      });
  });
  
    $('#category-tree').on("select_node.jstree", function(e, data) {
      selectedNode = data.node;
      var hasChildren = data.node.children.length !== 0;
      $('#add-category').prop('disabled', hasChildren);
    }).on('deselect_node.jstree', function(e, data) {
      selectedNode = null;
      $('#add-category').prop('disabled', !$('#id_name').val().trim());
    });
    
    // 새로운 코드: 노드 선택 취소 버튼의 클릭 이벤트 핸들러
    $('#deselect-node').on('click', function() {
      $('#category-tree').jstree('deselect_all');
      selectedNode = null;
      $('#add-category').prop('disabled', !$('#id_name').val().trim());
    });
  
    $('#id_name').on('input', function() {
      var isEmpty = !$(this).val().trim();
      var depth = selectedNode ? $('#category-tree').jstree(true).get_path(selectedNode, false, true).length : 1;
      var isRootOrDirectChild = depth <= 2;
      $('#add-category').prop('disabled', isEmpty || (selectedNode && selectedNode.children.length !== 0 && !isRootOrDirectChild));
    });
  
    $('#add-category').on('click', function() {
      var name = $('#id_name').val().trim();
      if (!name) {
          alert("The name cannot be empty.");
          return;
      }
      var parentNodeId = selectedNode ? selectedNode.id : '#'; // 루트 노드 추가를 위해 '#' 사용
      var existingNode = $('#category-tree').jstree('get_node', function(node) {
          return node.text.trim().toLowerCase() === name.toLowerCase();
      });
      if (existingNode) {
          alert('A category with this name already exists.');
          return;
      }
      // 부모 노드가 명확하게 지정된 상태에서 노드 추가
      $('#category-tree').jstree().create_node(parentNodeId, {
          text: name,
          parent: parentNodeId // 부모 ID 명시적으로 설정
      }, 'last', function(new_node) {
          // 새로운 노드 생성 후 콜백에서 추가 작업 가능
          console.log("New node added:", new_node);
      });
      $('#id_name').val('');
      $('#add-category').prop('disabled', true);
  });
  
    $('#category-form').on('submit', function(e) {
      e.preventDefault();

      // get_json에서 flat 옵션을 제거하여 중첩 구조를 유지
      var treeData = $('#category-tree').jstree(true).get_json('#', { 'no_state': true, 'no_li_attr': true, 'no_a_attr': true });
    
      var formData = new FormData(this);
      formData.append('tree', JSON.stringify(treeData));
      $.ajax({
        url: this.action,
        type: this.method,
        data: formData,
        processData: false,
        contentType: false,
        success: function(response) {
          // Handle success
          alert('Saved successfully.');
      
          if (response.created_nodes && response.created_nodes.length > 0) {
            var jsTreeInstance = $('#category-tree').jstree(true);
      
            response.created_nodes.forEach(function(node) {
              // 임시 ID에서 실제 ID로 노드 ID 업데이트
              var originalNode = jsTreeInstance.get_node(node.temp_id);
              if (originalNode) {
                jsTreeInstance.set_id(originalNode, node.new_id);
              }
            });
          }
        },
        error: function(xhr) {
          // 오류 응답 처리
          var errorMsg = "An error occurred while saving.";
          if (xhr.responseJSON && xhr.responseJSON.message) {
              errorMsg += " " + xhr.responseJSON.message;
          }
          alert(errorMsg);
          $('#category-tree').jstree('refresh');
          
        }
      });
    });
  });
  
  </script>

{% endblock %}
