{% extends 'base.html' %}
{% block content %}
  <h1>Public Profile</h1>
  <p>Username: {{ profile_user.username }}</p>
  <p>Email: {{ profile_user.email }}</p>

  {% include "accounts/include/user_following_list.html" with following_users=profile_user.following.all %}
  
  <h1>Followers</h1>
  <ul>
    {% for follow in profile_user.followers.all %}
      <li>{{ follow.follower.username }}</li>
    {% empty %}
      <li>This user has no followers yet</li>
    {% endfor %}
  </ul>

  <h2>Posts</h2>
  {% for post in posts %}
      <p>{{ post.content }}</p>
  {% endfor %}
{% endblock %}
