<!-- templates/index.html -->
{% extends "base.html" %}

{% block content %}


<div class="container mx-auto px-2 md:px-12 relative z-10 flex items-center py-14 xl:py-20">
    <div class=" bg-clear-white w-full flex flex-col items-start relative z-10 py-5 px-2 md:py-24 md:px-16">
        <span class="font-mitr uppercase text-base-light-secondary">Monologs</span>
        <strong class="font-Happiness text-4xl sm:text-6xl text-base-light-primary pt-6">AI Bloging</strong>
        <h1 class="font-WhiteTail text-4xl sm:text-6xl text-base-light-primary leading-10 pt-3">
            Monologs<strong class="font-Happiness text-2xl pl-2">에서</strong></h1>

        <div class="max-w-md">
            <p class="font-source-sans-pro text-base-light-primary mt-6 text-lg">AI의 힘을 빌려 당신만의 이야기를 써내려가세요. 회원가입을 통해 글을 작성하고, 다양한 목소리에 귀 기울여 보세요. 팔로우, 좋아요, 북마크 기능으로 당신이 좋아하는 콘텐츠를 저장하고 다시 볼 수 있습니다.</p>
        </div>

        <a href="#" class="block bg-indigo-500 hover:bg-indigo-400 py-2 px-4 rounded-full text-sm font-mitr text-white uppercase mt-10 opacity-100">지금 시작하기</a>
    </div>
</div>



{% endblock %}
