{% for comment in comments %}
    <div>
      <p>{{ comment.author }}:
        {{ comment.content }}</p>
      {% if not comment.parent %}
        <!-- Reply 버튼 -->
        {% if user.is_authenticated %}
          <button onclick="toggleReplyForm('reply-form-{{ comment.id }}');">Reply</button>
          <div id="reply-form-{{ comment.id }}" style="display:none;">
            {% include 'blog/include/reply_form.html' with parent_id=comment.id form=comment_form %}
          </div>
        {% endif %}
      {% endif %}

      <!-- 대댓글 표시 -->
      {% for reply in comment.replies_list %}
        <div class="reply pl-4 border-l-2 border-gray-200">
          <p>{{ reply.author }}:
            {{ reply.content }}</p> {% if request.user == comment.author %}
            {% if request.user == reply.author %}
            {% include 'blog/include/reply_update_form.html' with comment=reply form=comment_form %}
            {% include 'blog/include/comment_confirm_delete.html' with comment=reply %} {% endif %} {% endif %} 

        </div>
        
      {% endfor %}
      
      <!-- Edit and Delete 버튼 -->
      {% if request.user == comment.author %}
      {% include 'blog/include/comment_update_form.html' with comment=comment form=comment_form %}
      {% include 'blog/include/comment_confirm_delete.html' with comment=comment %}
  {% endif %}
    </div>
{% endfor %}
