<!-- blog/include/comment_form.html -->
<form method="post" class="w-full max-w-xl bg-clear-window rounded-lg px-4 pt-2"  action="{% url 'comment_create' post.pk %}">
    {% csrf_token %}
    <div class="flex flex-wrap -mx-3 mb-6">
    
    <!-- parent_id 필드 - 대댓글 기능을 위한 필드로 숨겨둡니다 -->
    <input type="hidden" name="parent_id" value="{{ parent_id|default_if_none:'' }}" />

    <!-- 댓글 내용 입력 필드 -->
    <div class="form-field-wrapper w-full">
        {% if form.content.errors %}
            <p class="form-error">
                {{ form.content.errors.as_text }}
            </p>
        {% endif %}
        <textarea class="bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-20 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white" name="content" id="id_content" placeholder="Add a comment..." required>{{ form.content.value|default_if_none:'' }}</textarea>
    </div>
    <div class="w-full flex items-start md:w-full px-3">
        <div class="flex items-start w-1/2 text-gray-700 px-2 mr-auto">
          
        </div>
        <div class="-mr-1">
           <button type='submit' class="bg-white text-gray-700 font-medium py-1 px-4 border border-gray-400 rounded-lg tracking-wide mr-1 hover:bg-gray-100">Add comment</button>
        </div>
     </div>
    
</div>
</form>


