{% for comment in comments %}
    <div>
      <p>{{ comment.author }}: {{ comment.content }}</p>
      {% if user.is_authenticated %}
        <!-- 좋아요 버튼 -->
        <form method="post" action="{% url 'toggle_like' pk=comment.pk %}">
          {% csrf_token %}
          <input type="hidden" name="content_type" value="comment">
          <input type="hidden" name="object_id" value="{{ comment.id }}">
          <button type="submit">
            {% if comment.liked %}Liked{% else %}Like{% endif %}
            <!-- 좋아요 수 추가 -->
          </button>
        </form>
        
        <!-- 북마크 버튼 -->
        <form method="post" action="{% url 'toggle_bookmark' pk=comment.pk %}" class="bookmark-form">
          {% csrf_token %}
          <input type="hidden" name="content_type" value="comment">
          <input type="hidden" name="object_id" value="{{ comment.id }}">
          <button type="submit">
            {% if comment.bookmarked %}Bookmarked{% else %}Bookmark{% endif %}
          </button>
        </form>
      {% endif %}

      {% if not comment.parent %}

      {% endif %}

      {% for reply in comment.replies_list %}
        <div class="reply pl-4 border-l-2 border-gray-200">
          <p>{{ reply.author }}: {{ reply.content }}</p>
          {% if user.is_authenticated %}
            <!-- 대댓글에 대한 좋아요 버튼 -->
            <form method="post" action="{% url 'toggle_like' pk=reply.pk %}">
              {% csrf_token %}
              <input type="hidden" name="content_type" value="comment">
              <input type="hidden" name="object_id" value="{{ reply.id }}">
              <button type="submit">
                {% if reply.liked %}Liked{% else %}Like{% endif %}
                <!-- 좋아요 수 추가 -->
              </button>
            </form>


            <form method="post" action="{% url 'toggle_bookmark' pk=reply.pk %}" class="bookmark-form">
              {% csrf_token %}
              <input type="hidden" name="content_type" value="comment">
              <input type="hidden" name="object_id" value="{{ reply.id }}">
              <button type="submit">
                {% if reply.bookmarked %}Bookmarked{% else %}Bookmark{% endif %}
              </button>
            </form>

            {% if request.user == reply.author %}
            {% include 'blog/include/reply_update_form.html' with comment=reply form=comment_form %}
            {% include 'blog/include/comment_confirm_delete.html' with comment=reply %}
          {% endif %}
          {% endif %}
        </div>
      {% endfor %}
    </div>

    {% if request.user == comment.author %}
    {% include 'blog/include/comment_update_form.html' with comment=comment form=comment_form %}
    {% include 'blog/include/comment_confirm_delete.html' with comment=comment %}
  {% endif %}
{% endfor %}
