<!-- reply_update_form.html -->

<!-- 대댓글 수정 모달 트리거 버튼 -->
<button class="btn btn-sm" onclick="document.getElementById('reply-edit-modal-{{ reply.id }}').showModal()">Edit</button>

<!-- 대댓글 수정 모달 -->
<dialog id="reply-edit-modal-{{ reply.id }}" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Edit Reply</h3>
    <!-- 대댓글 수정 폼 시작 -->
    <form method="post" class="w-full max-w-xl" action="{% url 'comment_update' pk=reply.id %}">
        {% csrf_token %}
        
        <!-- 대댓글 내용 입력 필드 -->
        <div class="form-field-wrapper">
            {% if form.content.errors %}
                <p class="form-error">
                    {{ form.content.errors.as_text }}
                </p>
            {% endif %}
            <textarea name="content" id="id_content_{{ reply.id }}" placeholder="Edit your reply..." required>{{ form.content.value|default_if_none:reply.content }}</textarea>
        </div>

        <!-- 제출 버튼 -->
        <div class="modal-action">
            <button type="submit" class="btn btn-sm btn btn-sm-primary">Update reply</button>
            <button class="btn btn-sm" type="button" onclick="document.getElementById('reply-edit-modal-{{ reply.id }}').close()">Cancel</button>
        </div>
    </form>
    <!-- 대댓글 수정 폼 끝 -->
  </div>
</dialog>
