<form action="{% url 'search' %}" method="get" class="inline-flex">
    <input class="h-16" type="text" name="q" placeholder="검색..." value="{{ query }}">
    <select id="choices-multiple-remove-button" class="h-full" name="fields" class=""  multiple>
        <option value="title" {% if "title" in search_fields %}selected{% endif %}>제목</option>
        <option value="content" {% if "content" in search_fields %}selected{% endif %}>내용</option>
        <option value="summary" {% if "summary" in search_fields %}selected{% endif %}>요약</option>
        <option value="tags" {% if "tags" in search_fields %}selected{% endif %}>태그</option>
    </select>
    <button type="submit">검색</button>
  </form>