{% extends "base.html" %}

{% load static %}
{% block content %}

<section class=" bg-clear-white flex flex-col justify-center items-center">
  

  {% if post.thumbnail %}
  {% with background_image_url=post.thumbnail.url %}
{% else %}
  {% with background_image_url=static "images/banners/background.webp" %}
{% endif %}
  <div class="sticky top-0 flex justify-around items-center w-full h-24 bg-cover bg-center" 
    style="background-image: url('{{ background_image_url }}');">
    <!-- 내용 -->
  </div>

    <div>
    <div class="flex justify-center items-center w-24 h-10 bg-black bg-opacity-50 rounded-full">
      <a href="{% url 'post_update' pk=post.pk %}">Update</a>
   
    </div>
    <div class="flex justify-center items-center w-24 h-10 bg-black bg-opacity-50 rounded-full">
 
      {% include 'blog/include/post_confirm_delete.html' %}
      {% comment %} <a href="{% url 'post_delete' pk=post.pk %}">Delete</a> {% endcomment %}
    </div>
  </div>
  <p>Posted by
    {% if author_profile_picture_url %}
        <img src="{{ author_profile_picture_url }}" alt="{{ post.author.username }}'s profile picture" style="width: 50px; height: 50px; border-radius: 50%;">
    {% else %}
    <img src="{% static 'images/logos/picture-default.webp' %}" class="h-16 rounded-full" alt="Profile Picture">
    {% endif %}
    {{ post.author }}
    <br />
    on
    {{ post.updated_at }}
</p>

{% if user.is_authenticated %}
    {% if not is_following %}
        <form action="{% url 'follow_toggle' post.author.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Follow</button>
        </form>
    {% else %}
        <form action="{% url 'follow_toggle' post.author.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary">Unfollow</button>
        </form>
    {% endif %}
{% endif %}
    <h2 class="text-white text-3xl font-semibold bg-black bg-opacity-50 p-4 rounded">{{ post.title }}</h2>

</div>



  <div class="prose-xl px-10 bg-gray-500">{{ post.content.html|safe }}</div>
  <div>
    <p>Posted by
      {{ post.author }}
      on
      {{ post.updated_at }}</p>
    <a href="{% url 'post_update' pk=post.pk %}">Edit</a>

    {% for tag in tags %}
      <span>{{ tag.name }}</span>
    {% endfor %}
  </div>

  <div class="post-actions">
    <!-- Like Button -->
    {% if user.is_authenticated %}
      <form method="post" action="{% url 'toggle_like' pk=post.pk %}">
        {% csrf_token %}
        <input type="hidden" name="content_type" value="post">
        <input type="hidden" name="object_id" value="{{ post.id }}">
        <button type="submit">
          {% if liked %}Liked{% else %}Like{% endif %}
          <span>{{ like_count }}
            likes</span>
        </button>
      </form>
    {% endif %}

    <!-- Bookmark Button -->
    {% if user.is_authenticated %}
      <form method="post" action="{% url 'toggle_bookmark' pk=post.pk %}" class="bookmark-form">
        {% csrf_token %}
        <input type="hidden" name="content_type" value="post">
        <input type="hidden" name="object_id" value="{{ post.id }}">
        {% if bookmarked %}
          <button type="submit">Bookmarked</button>
        {% else %}
          <button type="submit">Bookmark</button>
        {% endif %}
      </form>
    {% endif %}
  </div>

  {% for comment in comments %}
    <div>
      <p>{{ comment.author }}:
        {{ comment.content }}</p>
      {% if not comment.parent %}
        <!-- Reply 버튼 -->
        {% if user.is_authenticated %}
          <button onclick="toggleReplyForm('reply-form-{{ comment.id }}');">Reply</button>
          <div id="reply-form-{{ comment.id }}" style="display:none;">
            {% include 'blog/include/reply_form.html' with parent_id=comment.id form=comment_form %}

          </div>
        {% endif %}
      {% endif %}

      <!-- 대댓글 표시 -->
      {% for reply in comment.replies_list %}
        <div class="reply pl-4 border-l-2 border-gray-200">
          <p>{{ reply.author }}:
            {{ reply.content }}</p>
        </div>
      {% endfor %}
    </div>
  {% endfor %}

  {% if user.is_authenticated %}
    {% include 'blog/include/comment_form.html' with form=comment_form %}
  {% else %}
    <p>댓글을 남기려면
      <a href="{% url 'login' %}">로그인</a>
      해주세요.</p>
  {% endif %}
</section>
{% endblock %}
