{% extends "base.html" %}
{% load static %}
{% block content %}

<h2 class="a11y">Login</h2>


  <h1 class="a11y">Blog List</h1>


      <section class=" bg-clear-white sticky top-0">
        <h2 class="">Blog List</h1>
          
          <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
            {% for post in posts %}
            <div class="card bg-base-100 shadow-xl">
              <figure class="w-full h-64 overflow-hidden bg-gray-100">
                {% if post.thumbnail %}
                <img src="{{ post.thumbnail.url }}" alt="thumbnail" class="w-full h-full object-cover object-center"/>
                {% else %}
                <img src="{% static 'path/to/default-image.jpg' %}" alt="No thumbnail" class="w-full h-full object-cover object-center"/>
                {% endif %}
              </figure>
              
              <div class="card-body">
                <h2 class="card-title">
                  <a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a>
                </h2>
                <p>{{ post.summary }}</p>
                <div class="card-actions justify-end">
                  <p>Likes: {{ post.like_count }}</p>
                  <div class="badge badge-outline">Products</div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          
</section>

  {% endblock %}