{% extends "base.html" %}
{% load static %}
{% block content %}

<h2 class="a11y">Login</h2>


  <h1 class="a11y">Blog List</h1>


      <section class=" bg-clear-white sticky top-0">
        <h2 class="">Blog List</h1>
          
          <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
            {% for post in posts %}
            <div class="card bg-base-100 shadow-xl">
              <figure class="w-full h-64 overflow-hidden bg-gray-100">
                {% if post.thumbnail %}
                <img src="{{ post.thumbnail.url }}" alt="thumbnail" class="w-full h-full object-cover object-center"/>
                {% else %}
                <img src="{% static 'images/banners/background.webp' %}" alt="No thumbnail" class="w-full h-full object-cover object-center"/>
                {% endif %}
              </figure>
              
              <div class="card-body">
                <a class="card-title" href="{% url 'blog_detail' post.pk %}">
                  <h2  class="h-12 w-full truncate overflow-hidden hover:overflow-visible">{{ post.title }}</h2>
                </a>
                </h2>
                <p class="h-24 truncate overflow-hidden ">{{ post.summary }}</p>
                <div class="card-actions justify-end">
                  <p>Likes: {{ post.like_count }}</p>
                  {% for tag in post.tags.all %}
                  <a href="{% url 'search' %}?tag={{ tag.name }}" class="px-2 bg-amber-300 text-neutral-700 rounded-3xl hover:bg-amber-400 hover:text-neutral-900">{{ tag.name }}</a>
                {% endfor %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          {% if posts.paginator.num_pages > 1 %}
          <div class="mt-6 flex justify-center">
            <div class="btn-group">
              {% if posts.has_previous %}
                <a href="?page=1" class="btn">First</a>
                <a href="?page={{ posts.previous_page_number }}" class="btn">Prev</a>
              {% endif %}
          
              <span class="btn btn-active">Page {{ posts.number }} of {{ posts.paginator.num_pages }}</span>
          
              {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}" class="btn">Next</a>
                <a href="?page={{ posts.paginator.num_pages }}" class="btn">Last</a>
              {% endif %}
            </div>
          </div>
          {% endif %}
          
</section>

  {% endblock %}