{% load static tailwind_tags %}
<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta property="og:title" content="Monologs">
    <meta property="og:description" content="Description">
    <meta property="og:image" content="image">
    <meta property="og:url" content="URL">
    <meta property="og:type" content="website">

    {% tailwind_css %}
  </head>

  <body>
    <header>
      <nav>
        <a href="{% url 'blog_list' %}">Home</a>
        |

      </nav>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>

</html>