{% load static tailwind_tags %}
<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ meta.title|default:"Monologs" }}">
    <meta property="og:description" content="{{ meta.description|default:"Description" }}">
    <meta property="og:image" content="{{ meta.image|default:"URL_to_default_image" }}">

    {% tailwind_css %}
  </head>

  <body>
    <header>
      <nav>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'blog_list' %}">Blog</a>
        <a href="{% url 'post_create' %}">Create</a>
     
        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}?next={{ request.path }}" class="btn btn-primary">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">login</a>
    <a href="{% url 'register' %}">signup</a>
{% endif %}
      <form method="get">
        <input type="text" name="q" placeholder="검색..." value="{{ query }}">
        <select name="fields" multiple>
            <option value="title" {% if "title" in search_fields %}selected{% endif %}>제목</option>
            <option value="content" {% if "content" in search_fields %}selected{% endif %}>내용</option>
            <option value="summary" {% if "summary" in search_fields %}selected{% endif %}>요약</option>
            <option value="tags" {% if "tags" in search_fields %}selected{% endif %}>태그</option>
        </select>
        <button type="submit">검색</button>
      </form>
        {% comment %} <img src="{{ profile_pic.url }}" alt="Profile picture">
        <img src="{{ profile_image.url }}" alt="Profile image"> {% endcomment %}
      </nav>
    </header>

    {% if messages %}
      <div class="messages fixed top-5 right-5 z-50">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} bg-lime-300 border-l-4 border-green-500 text-green-700 p-4 mb-4" role="alert">
            <p class="font-bold">Notice</p>
            <p>{{ message }}</p>
            <span class="closebtn absolute top-0 right-0 p-4 cursor-pointer" onclick="this.parentElement.style.display='none';">&times;</span>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    <main>
      {% block content %}{% endblock %}
    </main>
    <script src="{% static 'js/utils.js' %}"></script>

  </body>

</html>