{% load static tailwind_tags %}
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.css" />
  {% tailwind_css %}
  <title>image cropper</title>
  <style>
    {% comment %} .hidden {
      display: none;
    }
    .not-visible {
      display: none;
    } {% endcomment %}
  </style>

<div class="container mx-auto mt-3">
  <button id="upload-btn btn-sm" type="button" class="btn btn-sm btn btn-sm-primary">Upload Image</button>


  <input type="file" id="file-input" class="hidden" accept="image/*">
  

  <dialog id="image-crop-modal" class="modal">
   
    <div class="modal-box bg-black">
      <div id="image-box" class="mb-3 "></div>
      <div class="modal-action">
        <form method="POST" id="image-crop-form" action="{% url 'upload_and_crop' %}">
            {% csrf_token %}
            <!-- Any other inputs you need to include, like the image data -->
            <input type="hidden" id="image-data" name="image_data">
            <button type="submit" class="btn btn-sm btn btn-sm-primary">Confirm</button>
        </form>
    </div>
    
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
</div>


{% block script %}
<script src="{% static 'js/crop.js' %}"></script>
{% endblock %}